body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    color: #12A720;
    margin-top: 300px;
    font-weight: 700;
}

p {
    margin: 0;
    font-size: 20px;
}
